{% extends 'control/base.html' %}

{% block title %}My profile{% endblock %}
{% block menu_name %}My Profile{% endblock %}

{% block content %}
<div class="table-responsive table-full-width">
	<table class="table table-hover table-striped">
		<tbody>
			<tr>
				<td>Username</td>
				<td>{{ user.username }}</td>
			</tr>
            <tr>
				<td>First Name</td>
				<td>{{ user.first_name }}</td>
			</tr>
            <tr>
				<td>Last Name</td>
				<td>{{ user.last_name }}</td>
			</tr>
            <tr>
				<td>Email Address</td>
				<td>{{ user.email }}</td>
			</tr>
            <tr>
				<td>Phone Number</td>
				<td>{% if not user.phone_number %} - {% else %} {{ user.phone_number }} {% endif %}</td>
			</tr>
            <tr>
				<td>Address</td>
				<td>{% if not user.address %} - {% else %} {{ user.address }} {% endif %}</td>
			</tr>
            <tr>
				<td>Location</td>
				<td>{% if not user.location %} - {% else %} {{ user.location }} {% endif %}</td>
			</tr>
            <tr>
				<td>Company</td>
				<td>{% if not user.company %} - {% else %} {{ user.company }} {% endif %}</td>
			</tr>
            <tr>
				<td>Job Title</td>
				<td>{% if not user.job_title %} - {% else %} {{ user.job_title }} {% endif %}</td>
			</tr>
            <tr>
				<td>Bio</td>
				<td>{% if not user.bio %} - {% else %} {{ user.bio }} {% endif %}</td>
			</tr>
            <tr>
                <td>
                    <div class="btn-group mr-2">
                        <button class="btn btn-info btn-fill"
                                    onclick="window.location.href = '{% url 'edit_profile' %}'">Edit my profile</button>
                        </div>
                        <div class="btn-group mr-2">
                            <button class="btn btn-info btn-fill"
                                    onclick="window.location.href = '{% url 'index' %}'">Back</button>
                        </div>
                </td>
                <td>
                </td>
			</tr>
		</tbody>
	</table>
</div>
{% endblock %}




